@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.2.min.js"></script>

<form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="UploadFiles">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload file:</p>
            <input type="file" name="files" id="imgInput" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" id="Upload" />
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#Upload').on('click', uploadImage);

        });
        function uploadImage() {
            alert('1');
            var file = $("#imgInput")[0].files[0];
            $.ajax({
                beforeSend: function (request) {
                    request.setRequestHeader("Content-Type", file.type);
                },
                type: 'POST',
                url: 'http://localhost:7071/api/upload',
                data: file,
                cache: false,
                processData: false,
            });
        }

    </script>
</form>
